

img{
    
    position: fixed;
    z-index: -100;
    min-height: 100%;
    min-width: 100%;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.79;
    
}

body{
    text-align: center;
    font-size: 18px;
}

